<h5>Lista de cursos</h5>

<ul>
  <li *ngFor="let curso of cursos">
    {{curso}}
  </li>
</ul>

<p>Injeção de dependência é importante senão teríamos que criar uma nova instância do serviço manualmente sempre que formos utilizá-lo em um componente assim como as outras classes que estão aninhadas nesse serviço.</p>
<br>
<p>A injeção de dependência cria todas as instâncias de forma automática.</p>
<h2>Para fazer um broadcast global de um evento para os componentes (sem precisar serem pais e filhos) basta ter um serviço com um event emitter STATIC. Dessa forma não é preciso instaciar a classe nos componentes, acessa diretamente pelo nome do serviço.</h2>
<img src="./ID.jpeg">
